*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    transition: var(--transition);
}

:root {
  /*main colors*/
	--primary: gray;
    --secondary: rgb(000, 000, 000, 80%);
    --headerTransparency: rgb(0,0,0,0.45);
    --blackFade: rgb(0,0,0,0.3);
    --space: 0% 10% 0% 10%;
    --border: 2px solid var(--primary);
    --animation-duration: 0.7s;
    --blur-radius: 40px;
    --p-font:  1.1rem;
    --transition: all 1.0s ease;
}

#canv {
  position: fixed;
  top: 0;
  left: 0;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: monospace;
    gap: 40px;
}

.header{
    z-index: 2;
    background: var(--headerTransparency);
    border-bottom: 1px solid var(--primary);
    padding: var(--space);
    display: flex;
    justify-content: space-between;
}

#logo {
    filter: grayscale(100%);
}

.headerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerFlags{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.headerFlagsDropdown{
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    list-style-type: none;
    margin-top: -160px;
}

.headerFlagsDropdown img, .headerFlags img{
    width: 30px;
    cursor: pointer;
}

.headerFlagsArrow{
    transition: var(--transition);
}

.container {
    background-color: var(--secondary);
    padding: 3rem;
    margin:  var(--space);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border: var(--border);
}

h1{
    font-size: 1.9rem;
}

h2{
    font-size: 1.25rem;
}

p{
    font-size: var(--p-font);
}
  
.destaque{
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.containerSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerInput{
    width: 70%;
}

.containerSectionTextarea{
    all: unset;
    transition: all 1.5s ease;
    border: var(--border);
    padding: 1rem;
    background: transparent;
    font-size: var(--p-font);
    resize: none;
    overflow-wrap: break-word;
}

.containerSectionTextarea:focus{
    animation: pulsate var(--animation-duration) infinite alternate;
}

.containerResult{
    width: 30%;
    align-items: center;
}

.containerImg{
    width: 40%;
    height: auto;
    border-radius: 20px 0 20px 0;
    border: 2px solid var(--primary);
}

.containerSectionDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}

.Btn{
    all: unset;
    cursor: pointer;
    color: var(--primary);
    border: var(--border);
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 1.25rem;
    transition: 0.3s linear;
    text-align: center;
    font-weight: 600;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.descriptografar{   
    background-color: var(--primary);
    color: var(--secondary);
}

.footer{
    z-index: 1;
    background: var(--headerTransparency);
    border-top: 1px solid var(--primary);
    text-align: center;
    padding: 24px;
}

@keyframes pulsate {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 0 var(--blur-radius) var(--primary);
    }
}

@media screen and (max-width: 750px) {
    .header{
        gap: 10px;
    }
    .headerMenu{
        max-width: 7cm;
        gap: 5px;
    }
    .container {
        flex-direction: column;
        padding: 1rem;
    }
    h1{
        font-size: 1.25rem;
    }
    h2{
        font-size: 0.9rem;
    }
    p{
        font-size: 0.75rem;
    }
    .containerSection{
        width: 100%;
    }
    .containerSectionDiv{
        flex-direction: column;
    }
    .Btn{
        font-size: 0.85rem;
    }
    .containerResultImg{
        display: none;
    }
}